:root {
  --primary-color: #9b793e;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: "Playfair Display", serif;
  display: block;
  margin: 50px 0;
}
h2 {
  font-size: 48px;
}
h1 {
  font-size: 72px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  opacity: 0.6;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  text-shadow: var(--text-shadow);
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.landing-pages-links {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}

.landing-pages-links a {
  margin: 20px;
  border-radius: 5px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contactLink {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.aboutLink {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.container {
  margin-top: 30px;
}
.about-description {
  display: flex;
  margin: 30px 0;
}
.about-description p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 10px;
}

.contact-email {
  display: flex;
  margin-top: 35px;
  justify-content: center;
  text-decoration: none;
  margin-top: 10px;
}

.img {
  max-width: 636px;
  max-height: 636px;
  border-radius: 15px;
  text-shadow: 2px 2px 4px #000000 !important;
}

img:hover {
  transform: scale(1.05);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: white;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
